/* Fonts */
@font-face {
    font-family: Koulen-Regular;
    src: url(../fonts/Koulen/Koulen/Koulen-Regular.ttf);
}

@font-face {
    font-family: Krub-Regular;
    src: url(../fonts/Koulen/Krub/Krub-Regular.ttf);
}

@font-face {
    font-family: Krub-Bold;
    src: url(../fonts/Koulen/Krub/Krub-Bold.ttf);
}

/* End of Fonts */
.TylerBody{
    background: radial-gradient(circle at center, #2B2C28, #131515);
}
.TylerHeroMenu{
    background-image: url(../assets/menuHeader.png);
    background-size: cover;
    background-position: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

.TylerHeroGallery{
    background-image: url(../assets/galleryHeader.png);
    background-size: cover;
    background-position: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

.TylerHeroTitle{
    font-family: Koulen-Regular;
    font-size: 7.81vw;
    color: white;
    text-align: center;
}

.TylerGalleryTitle{
    font-family: Koulen-Regular;
    font-size: 55px;
    text-align: center;
    padding-top: 76px;
    color: white;
}

.TylerRow1Pic{
    background-image: url(../assets/Amazing.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerRow2Pic{
    background-image: url(../assets/Spiderman.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerRow3Pic{
    background-image: url(../assets/Taiyo.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerRow4Pic{
    background-image: url(../assets/midnight.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerGalleryBox{
    background-color: #FFFFFF;
    opacity: .8;
    max-height: 107px;
    width: 269px;
    display: flex;
    justify-content: end;   
    border-radius: 15px 0px 10px 0px;
}

.TylerGalleryText{
    font-family: Koulen-Regular;
    font-size: 30px;
    color: black;
    margin-top: 20px;
    opacity: 1;
}


.TylerSizzling1Pic{
    background-image: url(../assets/Bulgolgi.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerSizzling2Pic{
    background-image: url(../assets/Beef\ Teppanyaki1.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerSizzling3Pic{
    background-image: url(../assets/Chicken\ Teppanyaki1.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}
.TylerSizzling4Pic{
    background-image: url(../assets/Spicy\ Chicken1.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerSashimi1Pic{
    background-image: url(../assets/Sashimi\ Combination.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerSashimi2Pic{
    background-image: url(../assets/Hamachi\ Truffle.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerSashimi3Pic{
    background-image: url(../assets/Sake\ Negiae.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}
.TylerSashimi4Pic{
    background-image: url(../assets/Seared\ Ahi\ Tuna\ .png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px; 
}

.TylerRamen1Pic{
    background-image: url(../assets/Shoyu\ Ramen.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerRamen2Pic{
    background-image: url(../assets/Tonkotsu\ Ramen.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerRamen3Pic{
    background-image: url(../assets/Spicy\ Ramen.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}
.TylerRamen4Pic{
    background-image: url(../assets/Tonkotsu\ Ramen.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerTeishoku1Pic{
    background-image: url(../assets/Beef\ Teriyaki.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerTeishoku2Pic{
    background-image: url(../assets/Chicken\ Teriyaki.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerTeishoku3Pic{
    background-image: url(../assets/Salmon\ Teriyaki\ Shioyaki.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}
.TylerTeishoku4Pic{
    background-image: url(../assets/Pork\ Katsu.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerUdon1Pic{
    background-image: url(../assets/Tempura\ Udon.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerUdon2Pic{
    background-image: url(../assets/Nabeyaki\ Udon.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerUdon3Pic{
    background-image: url(../assets/Yasai\ Yaki.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}
.TylerUdon4Pic{
    background-image: url(../assets/Tempura\ &\ Soba.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerBento1Pic{
    background-image: url(../assets/Rice\,\ Katsu\,\ Gyoza.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerBento2Pic{
    background-image: url(../assets/Teriyaki\ Chicken.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.TylerBento3Pic{
    background-image: url(../assets/Salmon\,\ California\ Roll\,\ Tempura.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}
.TylerBento4Pic{
    background-image: url(../assets/Gyoza\,\ Teriyaki\ Chicken\,\ Tempura.png);
    background-size: cover;
    background-position: center;
    height: 430px;
    width: 430px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 5px; 
}
.TylerFooterBox{
    background-color: #EED7C5;
}

.TylerFooterText{
    font-family: Koulen-Regular;
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 76px;
    text-decoration: none;
}
.TylerFooterTextHead{
    font-family: Koulen-Regular;
    font-size: 55px;
    color: #BDA344;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 76px;
}
.TylerFooterLogo{
    width: 100%; 
    height: 100%; 
    margin-left: 32px; 
    margin-top: 115px;
}
.TylerFooterYelpLogo{
    max-width: 47px; 
    max-height: 47px; 
   
    margin-top: 58px;
}
.TylerFooterTripLogo{
    max-width: 58px; 
    max-height: 63px; 
    margin-left: 46px; 
    margin-top: 58px;
}
.TylerFooterInstaLogo{
    max-width: 58px; 
    max-height: 53px; 
    margin-left: 46px; 
    margin-top: 58px;
}
.TylerFooterFaceLogo{
    max-width: 47px; 
    max-height: 47px; 
    margin-left: 46px; 
    margin-top: 58px;
}
.TylerlineBreak{
    border-bottom: solid black 1px;
    margin-left: 5%;
    margin-right: 5%;

}
.TylerFooterBlueWater{
    display: flex;
    justify-content: center;
    font-family: Koulen-Regular;
    color: #BDA344;
    font-size: 40px;
    margin-top: 23px;
    padding-bottom: 29px;
    margin-bottom: 0px;
}
.TylerMenuText {
    font-size: 25px;
    color: white;
    font-family: Krub-Regular;
}

.TylerMenuTextHeader {
    font-family: Koulen-Regular;
    font-size: 30px;
    color: white;

}

.TylerRamenPic1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 24px;
}

.TylerRamenPic2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 24px;
}

.TylerRamenPic3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.TylerRamenPic4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.TylerMenuBoarders{
    border: 5px solid white; 
    padding: 20px;
}

.TylerQuoteText{
    font-family: Krub-Regular;
    font-size: 13px;
    color: #FFFFFF;
}
@media screen and (max-width: 1200px){
    .TylerFooterText{
        font-family: Koulen-Regular;
        font-size: 20px;
        margin-bottom: 15px;
        margin-left: 0px;
    }
    .TylerFooterTextHead{
        font-family: Koulen-Regular;
        font-size: 40px;
        color: #BDA344;
        margin-top: 12px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .TylerFooterLogo{
        width: 343px; 
        height: 58px; 
        margin-left: 0px; 
        margin-top: 45px;
    }
    .TylerFooterYelpLogo{
        width: 20px; 
        height: 20px; 
        margin-left: 0px; 
        margin-top: 0px;
    }
    .TylerFooterTripLogo{
        width: 24px; 
        height: 27px; 
        margin-left: 22px; 
        margin-top: 0px;
    }
    .TylerFooterInstaLogo{
        width: 25px; 
        height: 22px; 
        margin-left: 22px; 
        margin-top: 0px;
    }
    .TylerFooterFaceLogo{
        width: 20px; 
        height: 20px; 
        margin-left: 22px; 
        margin-top: 0px;
    }
    .TylerMobileFooter{
        display: flex;
        justify-content: center
    }
    .TylerFooterLeftAlign{
        text-align: start;
    }
    .TylerFootMargin{
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media screen and (max-width: 923px){
    .TylerRow1Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerRow2Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerRow3Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    .TylerRow4Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    .TylerSizzling1Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerSizzling2Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerSizzling3Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    .TylerSizzling4Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }

    .TylerSashimi1Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerSashimi2Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerSashimi3Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    .TylerSashimi4Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerRamen1Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerRamen2Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerRamen3Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    .TylerRamen4Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerTeishoku1Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerTeishoku2Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerTeishoku3Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    .TylerTeishoku4Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerUdon1Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerUdon2Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerUdon3Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    .TylerUdon4Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerBento1Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerBento2Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    
    .TylerBento3Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
    .TylerBento4Pic{
        width: 340px;
        height: 340px;
        border-width: 2px;
    }
}
@media  screen and (max-width: 749px) {
    .TylerRow1Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerRow2Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerRow3Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    .TylerRow4Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    .TylerSizzling1Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerSizzling2Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerSizzling3Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    .TylerSizzling4Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    .TylerSashimi1Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerSashimi2Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerSashimi3Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    .TylerSashimi4Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerRamen1Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerRamen2Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerRamen3Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    .TylerRamen4Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerTeishoku1Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerTeishoku2Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerTeishoku3Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    .TylerTeishoku4Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerUdon1Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerUdon2Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerUdon3Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    .TylerUdon4Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerBento1Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerBento2Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    
    .TylerBento3Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    .TylerBento4Pic{
        width: 250px;
        height: 250px;
        border-width: 2px;
    }
    .marcosMenuText {
        font-size: 25px;
        color: white;
        font-family: Krub-Regular;
    }
    
    .marcosMenuTextHeader {
        font-family: Koulen-Regular;
        font-size: 30px;
        color: white;
    
    }
    
    .TylerMenuBoarders{
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        border-left: none;
        border-right: none;
        padding: 20px;
    }
    .TylerMenuPadding{
        padding: 0px;
    }

}
@media  screen and (max-width: 713px) {
    .TylerRow1Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerRow2Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerRow3Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    .TylerRow4Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    .TylerSizzling1Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerSizzling2Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerSizzling3Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    .TylerSizzling4Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    .TylerSashimi1Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerSashimi2Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerSashimi3Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    .TylerSashimi4Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerRamen1Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerRamen2Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerRamen3Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    .TylerRamen4Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerTeishoku1Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerTeishoku2Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerTeishoku3Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    .TylerTeishoku4Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerUdon1Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerUdon2Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerUdon3Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    .TylerUdon4Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerBento1Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerBento2Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    
    .TylerBento3Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    .TylerBento4Pic{
        width: 210px;
        height: 210px;
        border-width: 2px;
    }
    /* .TylerHeroGallery{
        background-image: url(../assets/galleryHeader.png);
        background-size: cover;
        background-position: center;
        height: 137px;
    }
    .TylerHeroTitle{
        font-family: Koulen-Regular;
        font-size: 40px;
        color: white;
    } */
    .TylerGalleryText{
        font-family: Koulen-Regular;
        font-size: 16px;
        color: black;
        margin-top: 20px;
        opacity: 1;
    }
    .TylerGalleryBox{
        background-color: #FFFFFF;
        opacity: .8;
        max-height: 107px;
        width: 125px;
        display: flex;
        justify-content: end;   
        border-radius: 15px 0px 10px 0px;
    }
    .TylerFooterBlueWater{
        display: flex;
        justify-content: center;
        font-family: Koulen-Regular;
        color: #BDA344;
        font-size: 20px;
        margin-top: 23px;
    }
}

@media  screen and (max-width: 484px) {
    .TylerGalleryTitle{
        font-family: Koulen-Regular;
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
        color: white;
    }
    .TylerRow1Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerRow2Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerRow3Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    .TylerRow4Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    .TylerSizzling1Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerSizzling2Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerSizzling3Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    .TylerSizzling4Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    .TylerSashimi1Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerSashimi2Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerSashimi3Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    .TylerSashimi4Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerRamen1Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerRamen2Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerRamen3Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    .TylerRamen4Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerTeishoku1Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerTeishoku2Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerTeishoku3Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    .TylerTeishoku4Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerUdon1Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerUdon2Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerUdon3Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    .TylerUdon4Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerBento1Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerBento2Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    
    .TylerBento3Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
    .TylerBento4Pic{
        width: 180px;
        height: 180px;
        border-width: 2px;
    }
}

@media  screen and (max-width: 484px) {
    .TylerGalleryTitle{
        font-family: Koulen-Regular;
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
        color: white;
    }
    .TylerRow1Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerRow2Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerRow3Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    .TylerRow4Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    .TylerSizzling1Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerSizzling2Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerSizzling3Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    .TylerSizzling4Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    .TylerSashimi1Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerSashimi2Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerSashimi3Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    .TylerSashimi4Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerRamen1Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerRamen2Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerRamen3Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    .TylerRamen4Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerTeishoku1Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerTeishoku2Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerTeishoku3Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    .TylerTeishoku4Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerUdon1Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerUdon2Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerUdon3Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    .TylerUdon4Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerBento1Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerBento2Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    
    .TylerBento3Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }
    .TylerBento4Pic{
        width: 150px;
        height: 150px;
        border-width: 2px;
    }

}


.header {

    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    background-image: url(../assets/menuHeader.png);
    background-size: cover;
    background-position: 0, 80%;
    color: white;
    font-size: 7.81vw;
    font-family: Koulen-Regular;
}

.marcosBody {
    background: radial-gradient(circle at center, #2B2C28, #131515);
}

/* app start */

.marcosAppTopSpace {
    margin-top: 10px;
}

.marcosAppRightSpace {

    padding-right: 1.5%;
}

.marcosAppLeftSpace {
    padding-left: 1.5%;

}







.marcosMenuBox {
    border: white solid 5px;
    padding: 20px;

}

.marcosMenuBox2 {
    border-top: white solid 5px;
    border-bottom: white solid 5px;
    padding: 50px;


}

.marcosMenuText {
    font-size: 25px;
    color: white;
    font-family: Krub-Regular;
}

.marcosMenuDesc {
    font-size: 16px;
    color: white;
    font-family: Krub-Regular;
}

.marcosMenuTextHeader {
    font-family: Koulen-Regular;
    font-size: 30px;
    color: white;

}

.marcosAppImg1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.marcosAppImg2 {
    width: 100%;
    height: auto;
}

.marcosAppImg3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.marcosAppImg4 {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.marcosSushiPic1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.marcosSushiPic2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.marcosMenuBox3 {
    width: 100%;
    height: 100%;
    border: white solid 5px;
    padding: 20px;
}

.marcosMenuBox4 {
    width: 100%;
    height: 15%;
    border: white solid 5px;
    padding: 20px;
}

.marcosMenuBox5 {
    width: 100%;
    height: 83.5%;
    border: white solid 5px;
    padding: 20px;
}

.marcosMenuBox6 {
    width: 100%;
    height: 83.5%;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
    padding: 20px;
}

/* app end */

.marcosPadding {
    padding-left: 10%;
    padding-right: 10%;
}

.marcosPaddingTop {
    margin-top: 8%;

}

.marcosHeaderText {
    color: white;
    font-size: 150px;
    font-family: Koulen-Regular;
    text-align: center;
}

.marcosMenuHeader {
    background-image: url(../assets/menuHeader.png);
    background-size: cover;
    background-position: 0, 80%;
    height: 759px;
}

.marcosRollsBtn {
    object-fit: cover;
    border-radius: 40px;
    width: 100%;
    height: 387px;
}

.marcosRamenBtn {
    height: 387px;
    width: 387px;
    border-radius: 40px;

}

.marcosContainer {
    position: relative;
    text-align: center;
    color: white;
}

.marcosTextCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    background-color: hsla(13, 82%, 54%, 0.803);
    padding: 10px 10px;
    border-radius: 15px;
    white-space: nowrap;
    font-family: Koulen-Regular;
}

.marcosTextCentered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background-color: hsla(13, 82%, 54%, 0.803);
    padding: 10px 90px;
    border-radius: 15px;
    white-space: nowrap;
    font-family: Koulen-Regular;
}

@media screen and (max-width: 1590px) {
    .marcosRollsBtn {
        object-fit: cover;
        border-radius: 40px;
        width: 100%;
        height: 330px;
    }

    .marcosRamenBtn {
        height: 330px;
        width: 330px;
        border-radius: 40px;
    }

    .marcosTextCentered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        background-color: hsla(13, 82%, 54%, 0.803);
        padding: 10px 10px;
        border-radius: 15px;
        white-space: nowrap;
        font-family: Koulen-Regular;
    }
}

@media screen and (max-width: 1300px) {
    .marcosRollsBtn {
        object-fit: cover;
        border-radius: 40px;
        width: 100%;
        height: 330px;
    }

    .marcosRamenBtn {
        height: 290px;
        width: 290px;
        border-radius: 40px;
    }

    .marcosTextCentered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        background-color: hsla(13, 82%, 54%, 0.803);
        padding: 10px 10px;
        border-radius: 15px;
        white-space: nowrap;
        font-family: Koulen-Regular;
    }
}

@media screen and (max-width: 1200px) {
    .marcosRollsBtn {
        object-fit: cover;
        border-radius: 20px;
        max-width: 100%;
        width: 950px;

        max-width: 100%;

        height: auto;
    }

    .marcosRamenBtn {
        width: 950px;

        max-width: 100%;

        height: auto;

        border-radius: 20px;
    }

    .marcosTextCentered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4vw;
        background-color: hsla(13, 82%, 54%, 0.803);
        padding: 1% 3%;
        border-radius: 10px;

        font-family: Koulen-Regular;
        white-space: normal;
        overflow: hidden;

    }

    .marcosTextCentered2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4vw;
        background-color: hsla(13, 82%, 54%, 0.803);
        padding: 1%3%;
        border-radius: 10px;

        font-family: Koulen-Regular;


    }
}

@media screen and (max-width: 425px) {
    .marcosTextCentered {
        font-size: 16px;
    }

    .marcosTextCentered2 {
        font-size: 16px;
    }

    .marcosMenuText {
        font-size: 20px;
    }

    .marcosMenuBox2 {
        padding: 10px;
    }
}


.brandonMenuText {
    font-size: 25px;
    color: white;
    font-family: Krub-Regular;
  }
  
  .brandonBody {
    background-color: #2b2c28;
  }
  
  .brandonMenuBody {
    background: radial-gradient(circle at center, #2B2C28, #131515);
  }
  
  .brandonDesktopHero {
    background-image: url(../assets/desktopheader.png);
    height: 1022px;
    object-fit: cover;
    background-position: 50% 96%;
  
  }
  
  .brandonLogoBox {
    background-color: rgba(255, 255, 255, 0.4);
    height: 173px;
    border-radius: 15px;
    margin-top: 300px;
  }
  
  .brandonLogoBox2 {
      background-color: rgba(255, 255, 255, 0.4);
      min-height: 254px;
      max-height: 354px;
      height: 284px;
      width: 100%;
      border-radius: 15px;
      margin-top: 300px;
    }
  
    .brandonLogoText{
      background-color: black;
      color: white;
      font-size: 14px;
      font-family: Krub-Regular;
      height: 31px;
      margin-top: 3%;
    }
  
  .brandonNavBox {
    background-color: rgba(255, 255, 255, 0.4);
    height: 98px;
    width: 629px;
    border-radius: 15px;
    margin-top: 72px;
  }
  
  .brandonNavText a {
    color: white;
    font-family: Koulen-Regular;
    font-size: 40px;
    text-decoration: none;
  }
  
  .brandonNavText2 a {
      color: white;
      font-family: Koulen-Regular;
      font-size: 25px;
      text-decoration: none;
    }
  
  .brandonOrderOnline {
    background-color: #ea5329;
    height: 98px;
    width: fit-content;
    border-radius: 15px;
    padding-top: 18px;
  }
  
  .brandonOrderOnline2 {
      background-color: #ea5329;
      height: auto;
      border-radius: 15px;
      margin-right: 9%;
    }
  
  .brandonAboutUsBG {
    height: 911px;
  }
  
  .brandonNav {
    background-color: rgb(238, 215, 197, 0.8);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .brandonNavToggle {
      background-color: rgba(238, 215, 197, 0.8);
  }
  
  .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(234, 83, 41)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    .custom-toggler.navbar-toggler {
      border: none;
    } 
  
  .brandonAboutUsTitle {
    font-family: Koulen-Regular;
    color: #bda344;
    font-size: 55px;
  }
  
  .brandonAboutUs {
    font-family: Krub-Regular;
    color: white;
    font-size: 25px;
  }
  
  .brandonAboutUsImg {
      margin-top: 25%;
  }
  
  .brandonNavOrder {
    width: 291px;
    height: 92px;
    background-color: #ea5329;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  /* .dropdown:hover>.dropdown-menu {
      display: block;
      
  } */
    
  /* .dropdown>:hover {
        background-color: #ea5329;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        color: white;
  } */
  
  /* .dropdown-menu{
    border-top-left-radius: 0px;
    border: none;
  } */
  
  .brandonNavDropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .brandonNavDropping:hover>.dropdown-menu {
    display: block;
  }
  
  .brandonNavDropping>:hover {
    background-color: #ea5329;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        color: white;
  }
  
  .brandonNavDropMenu{
    border-top-left-radius: 0px;
    border: none;
  }
  
  .brandonStickyNavOrder {
      color: white;
      font-size: 40px;
      font-family: Koulen-Regular;
      text-decoration: none;
  }
  
  .brandonStickyNav {
      color: black;
      font-size: 25px;
      font-family: Koulen-Regular;
      text-decoration: none;
  }
  
  .brandonNavDrop {
      font-size: 14px;
      color: #131515;
      font-family: Krub-Regular;
  }
  
  .brandonAboutUsText {
      padding-left: 5%;
      padding-right: 10%;
  }
  
  .header {
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    background-image: url(../assets/menuHeader.png);
    background-size: cover;
    background-position: 0, 80%;
    color: white;
    font-size: 7.81vw;
    font-family: Koulen-Regular;
  }
  
  .brandon2ndNav {
    background-color: rgb(217, 217, 217, 0.2);
    width: auto;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    border-radius: 15px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
  }
  
  .brandonMobileDropText {
    background-color: #424242;
    color: white;
    font-family: Krub-Regular;
    font-size: 16px;
    text-decoration: none;
  }
  
  .brandonMobileDropList {
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: none;
  }
  
  .brandon2ndNavText {
    color: white;
    font-size: 30px;
    font-family: Koulen-Regular;
  }
  
  .brandon2ndNavActive {
    color: white;
    font-size: 30px;
    font-family: Koulen-Regular;
    text-decoration: underline;
    text-underline-position: under;
  }
  
  .brandonDonburi {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .brandonMenuBox {
    border: 5px solid white;
    padding: 20px;
  }
  
  .brandonMenuCol {
    color: transparent;
  }
  
  .brandonMenuMargin {
    margin-bottom: 0px;
  }
  
  @media screen and (max-width:1770px ){
      .brandonAboutUsImg{
          margin-top: 28%;
      }
  }
  
  @media screen and (max-width:1650px ){
      .brandonAboutUsImg{
          margin-top: 30%;
      }
  }
  
  @media screen and (max-width:1520px ){
      .brandonAboutUsImg{
          margin-top: 33%;
      }
      .brandonMenuText {
        font-size: 20px;
        color: white;
        font-family: Krub-Regular;
      }
  }
  
  @media screen and (max-width:1399px ){
      .brandonAboutUsBG {
          background: linear-gradient(rgba(43, 44, 40, 0.992), rgba(43, 44, 40, 0.992)), url(../assets/Pattern.png);
          background-size: cover;
          background-position: center;
          height: 600px;
        }
      .brandonAboutUsText{
          padding-left: 4%;
          padding-right: 4%;
      }
      .brandonAboutUsTitle {
          font-family: Koulen-Regular;
          color: #bda344;
          font-size: 55px;
          text-align: center;
        }
        .brandon2ndNavText {
          color: white;
          font-size: 23px;
          font-family: Koulen-Regular;
        }
        
        .brandon2ndNavActive {
          color: white;
          font-size: 23px;
          font-family: Koulen-Regular;
          text-decoration: underline;
          text-underline-position: under;
        }
        .brandonMenuText {
          font-size: 18px;
          color: white;
          font-family: Krub-Regular;
        }
  }
  
  @media screen and (max-width:1171px ){
    .brandonMenuText {
      font-size: 15px;
      color: white;
      font-family: Krub-Regular;
    }
  }
  
  @media screen and (max-width:991px ){
      .brandonNavOrder {
          width: auto;
          height: 65px;
          background-color: #ea5329;
          border-bottom-left-radius: 0px;
          border-top-left-radius: 0px;
          margin-left: 2%;
          margin-right: 2%;
        }
        .brandonStickyNavOrder {
          color: white;
          font-size: 25px;
          font-family: Koulen-Regular;
          text-decoration: none;
      }
      .brandonAboutUsTitle {
          font-family: Koulen-Regular;
          color: #bda344;
          font-size: 55px;
          text-align: center;
        }
        .brandon2ndNavText {
          color: white;
          font-size: 16px;
          font-family: Koulen-Regular;
        }
        
        .brandon2ndNavActive {
          color: white;
          font-size: 16px;
          font-family: Koulen-Regular;
          text-decoration: underline;
          text-underline-position: under;
        }
        .brandonMenuBox {
          border-top: 5px solid white;
          border-bottom: 5px solid white;
          border-left: none;
          border-right: none;
          padding: 20px;
        }
        .brandonMenuCol {
          padding: 0;
        }
        .brandonMenuText {
          font-size: 25px;
          color: white;
          font-family: Krub-Regular;
        }
        .brandonMenuMargin {
          margin-bottom: 24px;
        }
  }
  
  @media screen and (max-width:650px ){
      .brandonNavText2 a {
          color: white;
          font-family: Koulen-Regular;
          font-size: 25px;
          text-decoration: none;
        }
        .brandonAboutUsTitle {
          font-family: Koulen-Regular;
          color: #bda344;
          font-size: 45px;
        }
        
        .brandonAboutUs {
          font-family: Krub-Regular;
          color: white;
          font-size: 20px;
        }
        .brandonLogoBox2 {
          background-color: rgba(255, 255, 255, 0.4);
          min-height: 254px;
          max-height: 354px;
          height: 270px;
          width: 100%;
          border-radius: 15px;
          margin-top: 300px;
        }
  }
  
  @media screen and (max-width:530px ){
      .brandonNavText2 a {
          color: white;
          font-family: Koulen-Regular;
          font-size: 25px;
          text-decoration: none;
        }
        .brandonLogoBox2 {
          background-color: rgba(255, 255, 255, 0.4);
          min-height: 254px;
          max-height: 354px;
          height: 264px;
          width: 100%;
          border-radius: 15px;
          margin-top: 300px;
        }
        .brandonLogoText{
          background-color: black;
          color: white;
          font-size: 14px;
          font-family: Krub-Regular;
          height: 31px;
          margin-top: 5%;
        }
  }
  
  @media screen and (max-width:440px ){
    .brandonLogoText{
      background-color: black;
      color: white;
      font-size: 11px;
      font-family: Krub-Regular;
      height: 31px;
      margin-top: 6%;
    }
    .brandonNavText2 a {
      color: white;
      font-family: Koulen-Regular;
      font-size: 20px;
      text-decoration: none;
    }
    .brandonLogoBox2 {
      background-color: rgba(255, 255, 255, 0.4);
      min-height: 234px;
      max-height: 354px;
      height: 234px;
      width: 100%;
      border-radius: 15px;
      margin-top: 300px;
    }
    .brandonAboutUsTitle {
      font-family: Koulen-Regular;
      color: #bda344;
      font-size: 35px;
    }
    
    .brandonAboutUs {
      font-family: Krub-Regular;
      color: white;
      font-size: 15px;
    }
    .brandonMenuText {
      font-size: 20px;
      color: white;
      font-family: Krub-Regular;
    }
  }
  