/* Fonts */
@font-face {
    font-family: Koulen-Regular;
    src: url(../fonts/Koulen/Koulen/Koulen-Regular.ttf);
}

@font-face {
    font-family: Krub-Regular;
    src: url(../fonts/Koulen/Krub/Krub-Regular.ttf);
}

@font-face {
    font-family: Krub-Bold;
    src: url(../fonts/Koulen/Krub/Krub-Bold.ttf);
}

.header {

    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    background-image: url(../assets/menuHeader.png);
    background-size: cover;
    background-position: 0, 80%;
    color: white;
    font-size: 7.81vw;
    font-family: Koulen-Regular;
}

.marcosBody {
    background: radial-gradient(circle at center, #2B2C28, #131515);
}

/* app start */

.marcosAppTopSpace {
    margin-top: 10px;
}

.marcosAppRightSpace {

    padding-right: 1.5%;
}

.marcosAppLeftSpace {
    padding-left: 1.5%;

}







.marcosMenuBox {
    border: white solid 5px;
    padding: 20px;

}

.marcosMenuBox2 {
    border-top: white solid 5px;
    border-bottom: white solid 5px;
    padding: 50px;


}

.marcosMenuText {
    font-size: 25px;
    color: white;
    font-family: Krub-Regular;
}

.marcosMenuDesc {
    font-size: 16px;
    color: white;
    font-family: Krub-Regular;
}

.marcosMenuTextHeader {
    font-family: Koulen-Regular;
    font-size: 30px;
    color: white;

}

.marcosAppImg1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.marcosAppImg2 {
    width: 100%;
    height: auto;
}

.marcosAppImg3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.marcosAppImg4 {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.marcosSushiPic1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.marcosSushiPic2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.marcosMenuBox3 {
    width: 100%;
    height: 100%;
    border: white solid 5px;
    padding: 20px;
}

.marcosMenuBox4 {
    width: 100%;
    height: 15%;
    border: white solid 5px;
    padding: 20px;
}

.marcosMenuBox5 {
    width: 100%;
    height: 83.5%;
    border: white solid 5px;
    padding: 20px;
}

.marcosMenuBox6 {
    width: 100%;
    height: 83.5%;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
    padding: 20px;
}

/* app end */

.marcosPadding {
    padding-left: 10%;
    padding-right: 10%;
}

.marcosPaddingTop {
    margin-top: 8%;

}

.marcosHeaderText {
    color: white;
    font-size: 150px;
    font-family: Koulen-Regular;
    text-align: center;
}

.marcosMenuHeader {
    background-image: url(../assets/menuHeader.png);
    background-size: cover;
    background-position: 0, 80%;
    height: 759px;
}

.marcosRollsBtn {
    object-fit: cover;
    border-radius: 40px;
    width: 100%;
    height: 387px;
}

.marcosRamenBtn {
    height: 387px;
    width: 387px;
    border-radius: 40px;

}

.marcosContainer {
    position: relative;
    text-align: center;
    color: white;
}

.marcosTextCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    background-color: hsla(13, 82%, 54%, 0.803);
    padding: 10px 10px;
    border-radius: 15px;
    white-space: nowrap;
    font-family: Koulen-Regular;
}

.marcosTextCentered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background-color: hsla(13, 82%, 54%, 0.803);
    padding: 10px 90px;
    border-radius: 15px;
    white-space: nowrap;
    font-family: Koulen-Regular;
}

@media screen and (max-width: 1590px) {
    .marcosRollsBtn {
        object-fit: cover;
        border-radius: 40px;
        width: 100%;
        height: 330px;
    }

    .marcosRamenBtn {
        height: 330px;
        width: 330px;
        border-radius: 40px;
    }

    .marcosTextCentered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        background-color: hsla(13, 82%, 54%, 0.803);
        padding: 10px 10px;
        border-radius: 15px;
        white-space: nowrap;
        font-family: Koulen-Regular;
    }
}

@media screen and (max-width: 1300px) {
    .marcosRollsBtn {
        object-fit: cover;
        border-radius: 40px;
        width: 100%;
        height: 330px;
    }

    .marcosRamenBtn {
        height: 290px;
        width: 290px;
        border-radius: 40px;
    }

    .marcosTextCentered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        background-color: hsla(13, 82%, 54%, 0.803);
        padding: 10px 10px;
        border-radius: 15px;
        white-space: nowrap;
        font-family: Koulen-Regular;
    }
}

@media screen and (max-width: 1200px) {
    .marcosRollsBtn {
        object-fit: cover;
        border-radius: 20px;
        max-width: 100%;
        width: 950px;

        max-width: 100%;

        height: auto;
    }

    .marcosRamenBtn {
        width: 950px;

        max-width: 100%;

        height: auto;

        border-radius: 20px;
    }

    .marcosTextCentered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4vw;
        background-color: hsla(13, 82%, 54%, 0.803);
        padding: 1% 3%;
        border-radius: 10px;

        font-family: Koulen-Regular;
        white-space: normal;
        overflow: hidden;

    }

    .marcosTextCentered2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4vw;
        background-color: hsla(13, 82%, 54%, 0.803);
        padding: 1%3%;
        border-radius: 10px;

        font-family: Koulen-Regular;


    }
}

@media screen and (max-width: 425px) {
    .marcosTextCentered {
        font-size: 16px;
    }

    .marcosTextCentered2 {
        font-size: 16px;
    }

    .marcosMenuText {
        font-size: 20px;
    }

    .marcosMenuBox2 {
        padding: 10px;
    }
}